.headerContainer {
  display: flex;
  gap: 16px;
  border: 1.5px dashed #383b51;  
  border-radius: 15px;
  background-color: #F5BB46;
  padding: 16px;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin: 3vh auto 0;
  box-shadow: 0px 0px 3.952px 1.581px rgba(0, 0, 0, 0.25);
}

.promptText {
 font-weight: 100;
 font-variation-settings: 'STYL' 0;
  color: #3D3F60;         /* optional text color */
}

.capitalBox {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  background-color: #FFF4F3;  
  border: 2px dashed #383b51;
  border-radius: 8px;
  font-size: 1.2rem;
  font-weight: bold;
  min-width: 120px;
  text-align: center;
}

.hintButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3vh auto 0;
  background-color: #383b51 !important;  /* base background */
  color: white !important;
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.hintButton:hover {
  background-color: #F5BB46 !important; /* hover background */
  color: #383b51 !important;
  border: 1.5px dashed #383b51               /* hover text */
}