.headerContainer {
  display: flex;
  gap: 16px;
  border: 1.5px solid #3D3F60;
  border-radius: 15px;
  background-color: #F5BB46;
  padding: 16px;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 3.952px 1.581px rgba(0, 0, 0, 0.25);
  width: 700px;
  margin: 30px auto 0 auto; /* <-- top margin added */
  margin-bottom: 20px;
}


.capitalBox {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  background-color: #f0f0f0;
  border: 2px solid #3D3F60;

  border-radius: 8px;
  font-size: 1.2rem;
  font-weight: bold;
  min-width: 120px;
  text-align: center;
}

.hintButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.capitalAndScore {
  display: flex;
  align-items: center;
  gap: 16px; /* space between capital box and score */
}

.scoreBox {
   display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  color: white;
  background-color: #3D3F60;
  border: 2px solid #3D3F60;
  border-radius: 8px;
  font-size: 1.2rem;
  font-weight: bold;
  min-width: 120px;
  text-align: center;
}

.menuButtons {
  display: flex;
  gap: 16px;
}