.card {
  width: 392px;
  height: 356px;
  background-color: #F5B846; /* Orange */
  border: px solid #383B51; /* Navy */
  border-radius: 12px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.backgroundBox {
    margin-top: 10px;
    padding: 8px 20px;
    background-color: #fff;
    border: 8px;
    font-weight: 600;
    text-align: center;
    color: #333;
    border-radius: 15px;
    border: px solid var(--Navy, #3D3F60);
    box-shadow: 1px 1px 7.8px 0 rgba(0, 0, 0, 0.25);
    
 }

 .statsbox
  {
    margin-top: 10px;
    padding: 24px 20px;
    background-color: #fff;
    border: 8px;
    font-weight: 600;
    text-align: left;
    color: #333;
    border-radius: 15px;
    border: 2px solid var(--Navy, #3D3F60);
    box-shadow: 1px 1px 7.8px 0 rgba(0, 0, 0, 0.25);
 }
 
 .listStyle{
    list-style-type: none;
 }

.header {
  background-color: #fff;
  padding: 12px 16px;
  border-radius: 8px;
  border: px solid #383B51;
  font-weight: bold;
  text-align: center;
  font-size: 1.2rem;
}

.details {
  background-color: #fff;
  padding: 16px;
  border-radius: 8px;
  border: px solid #383B51;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  flex-grow: 1;
}

.details p {
  margin: 6px 0;
  font-size: 0.95rem;
  color: #383B51;
}