.headerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C2E6F9; 
}
.header {
    color: #3D3F60; 
   
}

.header h1 {
    font-size: 50px;
    font-weight: 500;
  
}

