.footerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #C2E6F9; 
}
.buttonContainer {
 display: flex;
  gap: 8px;
  border: .01rem solid #383b51;
  border-radius: 5px;
  background-color: #F5BB46;
  width: 100%;
  max-width: 460px;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

